<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon1.ico') }}">

  <title>Title page</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="data-gr-c-s-loaded=true" data-gr-c-s-loaded="true">
<
<!-- Add your content of header -->

<div class="background-color-layer" style="background-image: url('assets/images/im-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Mohith Sai</h1>
      <p>Python Developer</p>
      <p></p>
      <p>

        <a class="fa-icon fa-icon-2x" href="https://twitter.com/mohithsai504" title="">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mohithsai-nattam-b5ba6214b/" title="">
          <i class="fa fa-linkedin"></i>
        </a>

      </p>
    </div>
  </header>



<!-- Add your site or app content here -->

 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/im-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>I am currently working as Systems Engineer in Tata Consultancy Services.Having 3 years of professional experience in IT industry, I have found out my intrest in learning new technologies and mostly on Machine learning and Artificial Intelligence. I have done few projects on the same and also involved in data scraping as well. </p>
              <p>Comming to professional experience, i am an Automation Engineer and working on automating SAP application using Worksoft Certify. I am a certified worksoft Certify Professional. I hope my intrests drive me towards a good programmer in future.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
        </div>
        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">September 2017- June 2018</small>
              <h3 class="h5 date-title">Web developer and Manual Tester - <a href="https://dotnet.microsoft.com/apps/aspnet" title="Create professionnal website">Dot Net</a></h3>

              <p>I have developed a Banking Website as a part of my training period and involved in testing Microsoft Visio Application.Worked on automating Visio desktop test scenarios using PYAUTOGUI (GUI based automation using python).Performed Functional, System and Integration Testing of desktop and web application </p>
            </div>

            <div class="work-experience">
              <small class="date">July 2018-Present</small>
              <h3 class="h5 date-title">Automation Engineer -<a href="https://www.worksoft.com/products/worksoft-certify" title="">Worksoft Certify</a></h3>

              <p>Working on automating SAP as well as web application using Worksoft Certify.Worked on DELIVER SCOR area in SAP SD which include interacting with MM module as well according to business process.Involved in Functional Testing Modules like SD, MM.Coordination with the business analysts for requirement gatherings
</p>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2015</small>
                  <h3 class="h5 date-title">Design Master</h3>
                  <p>Chicago University</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2011-2013</small>
                  <h3 class="h5 date-title">Intermediate-MPC</h3>
                  <p>Narayana Junior College</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2010-2011</small>
                  <h3 class="h5 date-title">SSC</h3>
                  <p>Sadhana English Medium High School</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Hindi <small>Beginner</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Telugu <small>Mother Tongue</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/im-05.jpg" class="img-responsive"  alt="...">
                <div class="carousel-caption">
                  <p></p>
                  <h3 class="h5 date-title"><a href="https://github.com/mohithsai28/Sentiment-Analysis-for-Amazon-Fine-Food-Reviews-Using-K-NN" title="">Sentimental Analysis on Amazon fine food reviews</a></h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/im-06.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <p></p>
                   <h3 class="h5 date-title"><a href="https://github.com/mohithsai28/Information-Retrival-based-Chatbot" title="">Chatbot-With MS Dhoni Wikipedia data</a></h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/im-10.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <p></p>
                   <h3 class="h5 date-title"><a href="https://github.com/mohithsai28/How-Protected-is-your-Password" title="">Check how Protected is your Password</a></h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/mohithsai504" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@mohithsai504</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/mohithsai-nattam-b5ba6214b/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Mohith sai</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
              <h3>Message Sent Successfully.I will get in touch with you shortly</h3>
          </div>
        </div>

     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>

        <p>©All right reserved by Mohith Sai <a href="http://www.mashup-template.com/" title="Create website with free html template"></a><a href="https://unsplash.com/" title="Beautiful Free Images"></a></p>
        <p>

              <a class="fa-icon fa-icon-2x" href="https://twitter.com/mohithsai504" title="">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mohithsai-nattam-b5ba6214b/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>